$font_moserrat: 'Montserrat';

body {
  margin: 0;
}
.header_descr_inner {
  margin-top: 0;
  padding-top: 50px;
  background: linear-gradient(
        360deg,
        #ffffff -0.06%,
        rgba(255, 255, 255, 0) 100.66%
      )
      no-repeat,
    url('../assets/bg1.jpg') no-repeat;
  background-size: 100%;

  transform: matrix(1, 0, 0, 1, 0, 0);
}

.container {
  padding: 0 300px;
  margin: 0px auto;
}

.container__title {
  margin: 0 auto;
  text-align: center;
  h2 {
    font-family: $font_moserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 112.94%;
    color: #333333;
  }
}

.item__title {
  font-family: $font_moserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 22px;
  text-align: center;
  color: #333333;
}

.item__descr {
  font-family: $font_moserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: #333333;
}

.container__inner {
  display: flex;
  width: 100%;
  max-width: 1300px;
  justify-content: space-between;
  div {
    width: 25%;
    flex-wrap: wrap;
    img {
      width: 110px;
      height: 44px;
      margin-top: -10px;
    }
    span {
      font-family: $font_moserrat;
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 98.44%;
    }
  }
  .header__inner {
    width: 40%;
    display: flex;
    nav {
      flex-wrap: wrap;
      width: 25%;
      font-family: $font_moserrat;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 18px;
    }
  }
}

.title__inner {
  padding-top: 100px;

  width: 100%;
  display: flex;
  justify-content: space-between;
  .title {
    width: 40%;
    span {
      font-family: $font_moserrat;
      font-style: normal;
      font-weight: 500;
      font-size: 30px;
      line-height: 98.44%;
    }
    .span_desc {
      font-size: 20px;
      line-height: 109.44%;
    }
    .title_h1 {
      width: 400px;
      margin-top: -40px;
      margin-bottom: -30px;
      h1 {
        font-family: $font_moserrat;
        font-style: normal;
        font-weight: 900;
        font-size: 70px;
        line-height: 98.44%;
        font-variant: small-caps;
      }
    }

    button {
      margin-top: 60px;
      width: 312px;
      height: 64px;
      background: #3d9be9;
      border-color: #3d9be9;
      border-radius: 3px;
      font-family: $font_moserrat;
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 106.94%;
      letter-spacing: 0.02em;
      transition: transform 0.5s linear;

      color: #ffffff;
      &:hover {
        transform: scale(1.02);
      }
    }
  }

  .title_img {
    width: 60%;
    margin-top: -80px;
    flex-wrap: wrap;
    img {
      width: 729.35px;
    }

    filter: drop-shadow(0px 12px 17px rgba(0, 0, 0, 0.58));
    transform: rotate(0.18deg);
  }
  .phone__icon__inner {
    position: absolute;
    width: 136px;
    height: 136px;
    left: 1440px;
    top: 456px;
    background: rgba(61, 155, 233, 0.3);
    border-radius: 50%;
    transition: transform 0.5s linear;

    &:hover {
      transform: scale(1.02);
    }

    .phone__icon {
      width: 100px;
      height: 100px;
      background: rgba(61, 155, 233, 0.8);
      border-radius: 50%;
      margin: 18px auto;

      svg {
        margin: 20px 24px;
      }
    }
  }
}

.card__inner {
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-align: center;
  .card__item {
    width: 30%;
    flex-wrap: wrap;
    background: #fefefe;
    border-radius: 6px;
    padding: 40px 10px;
    border-top: none;
    box-shadow: 0 0 5px #424141;
    transition: transform 0.5s linear;
    &:hover {
      transform: scale(1.02);
    }
    .card__item__inner {
      margin: 0 auto;
      width: 70%;
    }
    .card__num {
      font-family: $font_moserrat;
      font-style: normal;
      font-weight: 900;
      font-size: 96px;
      line-height: 98.44%;
      text-align: center;
      color: #eff5f8;
    }
    h2 {
      font-family: $font_moserrat;
      font-style: normal;
      font-weight: 600;
      font-size: 22px;
      line-height: 22px;
      text-align: center;
      color: #333333;
    }
    span {
      font-family: $font_moserrat;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 140%;
      text-align: center;
      color: #333333;
    }
  }
}

.section__advantages__wrap {
  margin-top: 142px;
}

.section__advantages {
  min-height: 1000px;
  background: linear-gradient(
      0deg,
      #ffffff 4.18%,
      rgba(255, 255, 255, 0) 23.32%
    ),
    linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 93.52%),
    url('../assets/bg2.jpg') no-repeat;

  background-size: cover;
  text-align: center;
  margin-top: 56px;
  .section__advantages__inner {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .section__advantages__item {
      margin-top: 120px;
      width: 33%;
      flex-wrap: wrap;
    }
  }
}

.prices {
  text-align: center;
  .prices__inner {
    display: flex;
    justify-content: space-between;
    width: 100%;
    .price__item {
      width: 27%;
      flex-wrap: wrap;

      .price__body {
        margin-top: 30px;
        hr {
          width: 130px;
          color: rgba(161, 160, 160, 0.1);
        }

        .price__goods {
          margin: 45px auto;
          width: 164px;
          font-family: $font_moserrat;
          font-style: normal;
          font-weight: 500;
          font-size: 20px;
          line-height: 120%;
          /* identical to box height, or 24px */

          color: #333333;

          transform: rotate(0.21deg);
          display: flex;
          justify-content: space-between;

          border-bottom: 1px solid rgb(150, 148, 148);
          div {
            flex-wrap: wrap;
          }
          // p {
          //   text-decoration: underline;
          // }
        }
      }
    }

    .prices__service {
      .top_m {
        margin-top: 38px;
      }
      width: 50%;
      .item__descr,
      .item__title {
        text-align: left;
      }

      .item__descr {
        margin-top: 10px;
      }

      p {
        margin-top: 38px;
      }

      span {
        margin-top: 42px;
        float: left;
        font-family: $font_moserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 98.44%;
        /* identical to box height, or 24px */

        color: rgba(51, 51, 51, 0.8);
      }

      .price__list {
        width: 500px;
        margin-top: 150px;
        margin-left: -10px;
        display: flex;
        // justify-content: space-between;

        .price__list__item {
          width: 15%;
          flex-wrap: wrap;
        }

        .price__list__desc {
          text-align: left;
          margin-left: 10px;
          width: 85%;
          font-family: Montserrat;
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 131%;
          /* identical to box height, or 21px */

          color: #333333;
        }
      }
    }
  }
}

.work__section {
  margin-top: 190px;

  .work__section__inner {
    margin-top: 90px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    .work__section__desc {
      width: 40%;

      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 139.5%;
      /* or 22px */

      color: #333333;
      .work__section__desc__item {
        margin-bottom: 40px;
        margin-left: 20px;
        display: flex;
        justify-content: space-between;

        .number {
          width: 10%;
          flex-wrap: wrap;
        }

        .work__section__content {
          width: 90%;
          flex-wrap: wrap;
        }
      }
    }
  }
  .work__section__img {
    // height: 747px;
    width: 50%;
    background: linear-gradient(
        90deg,
        #ffffff 12.65%,
        rgba(255, 255, 255, 0) 31.06%
      ),
      url('../assets/bg3.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
  }
}

.section__form {
  background: #f8f8f8;
  .section__form__inner {
    display: flex;
    justify-content: space-between;
    width: 100%;
    .section__form__item {
      flex-wrap: wrap;
      width: 50%;
      padding-left: 30px;
      img {
        height: 560px;
      }

      form {
        margin-top: 150px;

        .form__radio {
          margin: 0;
          font-family: $font_moserrat;
          font-style: normal;
          font-weight: normal;
          font-size: 12px;
          line-height: 15px;
          /* identical to box height */

          letter-spacing: 0.015em;

          color: #333333;
        }
      }

      .form__input {
        margin-top: 20px;

        input {
          width: 250px;
          height: 40px;
          border: none;
          border-bottom: 1px solid #333333;
          background: inherit;
        }
        button {
          margin-top: 40px;
          margin-bottom: 20px;
          width: 250px;
          height: 50px;
          background: #3d9be9;
          border: none;
          border-radius: 3px;
          color: rgb(250, 250, 250);

          font-family: $font_moserrat;
          font-style: normal;
          font-weight: 500;
          font-size: 20px;
          line-height: 106.94%;
          /* or 21px */

          letter-spacing: 0.02em;
          transition: transform 0.5s linear;

          &:hover {
            transform: scale(1.01);
          }
        }
      }
    }
  }
}

.we__chosed {
  margin-top: 150px;

  .we__chosed__inner {
    width: 100%;
    min-height: 150px;
    display: flex;
    justify-content: space-between;
    div {
      min-height: 200px;
      background-size: contain;
      background-position: 50% 50%;
      width: 33%;
      height: 100%;
      flex-wrap: wrap;
      background-repeat: no-repeat;
    }
    .we__chosed__item__1 {
      background-image: url('../assets/wechosed/1.jpg');
    }
    .we__chosed__item__2 {
      background-image: url('../assets/wechosed/2.png');
    }
    .we__chosed__item__3 {
      background-image: url('../assets/wechosed/3.png');
      background-size: cover;
    }
    .we__chosed__item__4 {
      background-image: url('../assets/wechosed/4.png');
      background-size: 60%;
    }
    .we__chosed__item__5 {
      background-image: url('../assets/wechosed/5.png');
      background-size: 30%;
    }
    .we__chosed__item__6 {
      background-image: url('../assets/wechosed/6.png');
    }
  }
}

footer {
  width: 100%;
  min-height: 300px;
  background: #333333;
  .footer__inner {
    display: flex;
    justify-content: space-between;

    .footer_column_f {
      width: 25%;
      margin-top: 60px;
      img {
        width: 110px;
        height: 44px;
      }

      .footer_column__content {
        margin-top: 21px;
        font-family: $font_moserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 140.9%;
      }

      color: #ffffff;
    }

    .contacts {
      font-family: $font_moserrat;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 98.44%;
      color: #ffffff;
    }
    .footer_column {
      width: 20%;
      margin-top: 108px;
      margin-bottom: 135px;
      margin-left: 15px;

      .footer_column__content {
        margin-top: 13px;
        font-family: $font_moserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 18px;

        color: #ffffff;
      }
    }

    .footer_column.adress {
      width: 30%;
      button {
        margin-top: 40px;
        margin-bottom: 20px;
        width: 250px;
        height: 50px;
        background: #3d9be9;
        border: none;
        border-radius: 3px;
        color: rgb(250, 250, 250);

        font-family: $font_moserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 106.94%;
        /* or 21px */

        letter-spacing: 0.02em;
        transition: transform 0.5s linear;

        &:hover {
          transform: scale(1.01);
        }
      }
    }
  }
}
